@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaRegular.woff2') format('woff2'),
    url('../fonts/ProximaNovaRegular.woff') format('woff'),
    url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
    url('../fonts/ProximaNovaRegular.svg#Proxima Nova') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaBold.woff2') format('woff2'),
    url('../fonts/ProximaNovaBold.woff') format('woff'),
    url('../fonts/ProximaNovaBold.ttf') format('truetype'),
    url('../fonts/ProximaNovaBold.svg#Proxima Nova') format('svg');
    font-style: normal;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Proxima Nova" !important;
    overflow-x: hidden;
}

/**/
header{
    background: #321972;
    text-align: center;
    padding: 95px 0;
}
header.section-row .description{
    font-size: 36px;
    font-weight: bold;
}
header.section-row p:not(.description){
    font-size: 18px;
}
.section-row{
    color: #ffffff;
}
.section-row .description{
    padding: 35px 0;
}

/*Section*/
.row-common > div{
    padding:100px 0;
    text-align: center;
}

.row-common > div p{
    margin-bottom: 50px;
    font-size: 24px;
}

div.section-rotated{
    text-align: center;
    background: url("../images/bg-people.png") no-repeat;
    background-size: cover;
}
.section-rotated > div{
    height: 100%;
    padding: 235px 0;
}

.section-rotated > div h3{
    font-weight: bold;
    font-size: 35.9px;
}

.section-rotated > div p{
    font-weight: normal;
    font-size: 23.93px;
}

.section-rotated > div form input{
    height: 48px;
    line-height: 48px;
    border: none;
}
.section-rotated > div form input[type="email"]{
    color: #000000 !important;
    padding-left: 30px;
    width: 290px;
}
.section-rotated > div form input[type="submit"]{
    background: #296cfc;
    color: #ffffff;
    padding: 0 25px;
}

.our-works{
    padding: 100px 0;
}

.our-works h3{
    font-weight: bold;
    margin-top: 0;
    font-size: 36px;
    margin-bottom: 35px;
}
.our-works p{
    font-size: 18px;
    line-height: 1.5;
}
.our-works > .row:nth-child(even) > div:first-child{
    text-align: right;
}
.our-works > .row:nth-child(odd) > div:first-child{
    text-align: center;
}
.our-works > .row:nth-child(even) > div:last-child{
    text-align: center;
}
.our-works > .row:not(:last-child){
    padding-bottom: 100px;
}

footer.section-rotated{
    -webkit-clip-path: polygon(100% 0%, -300% 57%, 104% 127%);
    clip-path: polygon(100% 0%, -300% 57%, 104% 127%);
    text-align: center;
    background-color: #1f0a5c;
}
footer.section-rotated > div{
    padding-bottom: 180px;
}
footer.section-rotated p{
    padding-top: 0;
    font-size: 24px;
}
footer.section-rotated span{
    display: block;
     margin-top: 30px;
     font-size: 14px;
 }

@media only screen and (max-width: 992px) {
    .our-works img{
        width: 100%;
    }
}
@media only screen and (max-width: 486px) {
    footer.section-rotated{
        -webkit-clip-path: polygon(100% 0%, -300% 0%, 104% 150%);
        clip-path: polygon(100% 0%, -300% 0%, 104% 150%);
        text-align: center;
        background-color: #1f0a5c;
    }
    .section-row p, .section-row .description,
    .row-common > div p{
        padding: 0 15px;
    }
    .row-common div.col-xs-2:not(:nth-child(2n)){
        display: none;
    }
    .row-common div.col-xs-2{
         width: 50%;
         margin-bottom: 50px;
     }
    .our-works img{
        margin-top: 100px;
        width: 60%;
    }
    .our-works > .row > div{
        width: 100%;
        text-align: center !important;
        padding: 0 15px;
        margin: 0;
    }
    .our-works > .row > div p{
         padding: 0 15px;
     }
    .our-works h3{
        margin-top: 50px;
    }
    .row-common > div{
        padding-bottom: 0;
    }
    .section-rotated > div form input[type="submit"]{
        display: block;
        margin: 35px auto 0 auto
    }

}