@import "bootstrap.min.css";
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNovaRegular.eot');
  src: url('../fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
  url('../fonts/ProximaNovaRegular.woff2') format('woff2'),
  url('../fonts/ProximaNovaRegular.woff') format('woff'),
  url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
  url('../fonts/ProximaNovaRegular.svg#Proxima Nova') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNovaBold.eot');
  src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
  url('../fonts/ProximaNovaBold.woff2') format('woff2'),
  url('../fonts/ProximaNovaBold.woff') format('woff'),
  url('../fonts/ProximaNovaBold.ttf') format('truetype'),
  url('../fonts/ProximaNovaBold.svg#Proxima Nova') format('svg');
  font-style: normal;
  font-weight: 600;
}

@fontDeafultProximaNova: "Proxima Nova, arial, sans-serif";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: @fontDeafultProximaNova;
}
